@font-face {
    font-family: 'yekan';
    src: url('../font/yekannumbers-regular.eot'),


    url('../fonts/web_Yekan.woff') format('woff'),
    url('../fonts/web_Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'yekan';

    background: #f5f5f5;
    color: #4a5f73;
    position: relative;
    padding-top: 120px;
    direction: rtl;
    font-family: yekan,numberyekan;
    padding-right: 0px !important;
}

.modal-open {
    overflow: visible !important;
}


.header-c{
    position:absolute;

    top: 0;
    right: 0;
    left: 0;
    background: #fff;


}
.c-header_row{
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    height: 75px;
    display: flex;
    position: relative;
    padding: 18px 0;
    align-items: center;

}
.c-header-logo{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 0;
    max-width: 155px;
    padding-right: 9px;
    max-height: 100%;
    margin-right: 18px;
}
.c-header-logo-img{
    color: #fff;
    height: 36px;
    background: url("/img/logo.png");
    display: block;

    background-size:auto 137% ;

}
.container{
    min-width: 1006px;
    max-width: 1676px;
}

.search-input{
    margin-left: 80px;
    width:80%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    background-color: #eceff1;
    color: #474747;
    font-weight: 300;
    font-size: .857rem;
    line-height: 1.833;
    padding: 10px 10px 9px;
    z-index: 51;
    position: relative;
    border: none;
}

.c-header-search{
    position: relative;
    width: 100%;
    min-height: 1px;
    flex: 0 0 calc(100% - 155px - 370px);
    max-width:calc(100% - 155px - 370px) ;
    flex-grow: 1;
    padding-right: 50px;
    padding-left: 50px;
}

.search-button{
    width: 60px;
    height:100%;
    margin-left: 70px;
    background-color: #ef5661;
    border-radius: 7px 0 0 7px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    cursor: pointer;

}
.search-button i{

    color: #fff;
    font-size: 25px;
}


.header-action{

    max-width: 370px;

    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    position: unset;
}

.header-container{
    position: relative;
    height: 100%;
    max-width: 60%;
}


.header-container i{
    font-size: 22px;
    padding-right: 22px;
    color: #7c7a7a;
}
.header-user-dropdown{
    position: absolute;
    top:calc(100% + 10px);
    left: 0;
    width: 228px;
    background-color: #fff;
    box-shadow: 0 2px 9px 0 #d3d9df;
    padding: 15px;
    z-index: 123;
    margin-left: -34px;
}

.header-user-dropdown::before{
    height: 4px;
    background-color: #ef5661;
    bottom: 100%;
    left: 0;
    right: 0;
}


.header-user-dropdown::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: transparent transparent #ef5661;
    position: absolute;
    bottom: 100%;
    margin-bottom: 2px;
    left: 30px;

}
.before{

    width: 0;
    height: 0;
    border-style:solid ;
    border-width: 0 8px 8px;
    border-color: transparent transparent #ef5661;
    position: absolute;
    bottom: 100%;
    margin-bottom: 2px;
    left: 30px;

}

.after{
    height: 4px;
    background-color: #ef5661;
    bottom: 100%;
    left: 0;
    right: 0;
    position: absolute;
}


.header-dropdown-signup a{

    color: #008ec9 !important;
    border-bottom: 1px dashed #008ec9;
    font-size: 1rem;
    line-height: 1.5710;
    font-weight: 700;
    padding-bottom: 3px;
    margin-right: 10px;

}
a{
    text-decoration: none;
}
.header-dropdown-login{
    background-color: #00bfd6;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-align: center;
    height: 40px;
    vertical-align: middle;letter-spacing: -.5px;
    cursor: pointer;
    color: #fff !important;
    font-weight: 700;
    font-size: 1rem;
    line-height: 38px;

}

.header-user{
    text-align: right;
    margin-top: 20px
}
.header-user span{
    padding-right: 10px;
}

.header-cart{
    text-align: right;
    margin-top: 16px
}
.header-cart span{
    padding-right: 10px;
}
a:hover{
    text-decoration: none;
}

.header-div{

    border-right: 1px solid #000;
    left: -17%;
    position: absolute;
    top: 1%;
    height: 30px;
    width: 0;
}
.header-shop{
    width: 154px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #00bfd6;
    color: #00bfd6;
    margin-right: 33px;
    padding: 6px;
    border-radius: 8px;
}

.header-user-dropdown{

    display: none;
}
.navbar-nav{
    width: 100%;
    height: 39px;
    background: #616161;
    position: relative;

    margin-top: -46px;
}



/********slider*****/


#carousel-indicators .active {
    background-color: #43d2f5 !important;
}
#carousel-indicators li{

    width: 10px !important;

    height: 10px !important;

    border-radius: 10px !important;
}

.navbar-nav  span li{
    direction: rtl;
    text-align: right;
    padding-top: 8px;

    float: right;
    font-size: 12px;
    height: 100%;
    padding-right: 13px;
}

.navbar-nav  span li a{

    color: #fff;
}

.navbar-nav  span{

    height: 100%;
}
#dropdown-large:hover{

    border-bottom: 2px solid #ef5661;
    box-shadow: 1px 0px 1px  1px #444848;
}


.menu-wrapper li a{



}

li{
    list-style: none;
}
.dropdown-menu{

    min-width: 1264px;
    min-height: 300px;
    top: 14px !important;
}
.menu-wrapper .col-sm-2{

    max-width: 21.667% !important;
}

/*********************************/
#card{
    position: absolute; width: 100%; height: 410px;overflow: hidden;
}
.discount_bar{
    background: #ef5661 url("../img/discount.png") no-repeat 50% 50%;
    background-size:auto 19px ;
    border-radius: 0 0 24px 24px;
    width: 223px;
    height: 46px;
    display: block;
    right: 12%;
    position: absolute;

}


.carousel-fade .carousel-inner .carousel-item{
    transition-property: opacity;
}
.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active{
    opacity: 0;
}

.carousel-fade .carousel-inner .active{
    opacity:1;
}

#carousel-item img{

    width: 303px;
    height: auto;
    float: right;
    margin-top: 58px;
    margin-right: 100px;
}

.carousel-indicators li{
    text-indent: 0px !important;
    width: auto !important;
    height: auto !important;
}

#pager{
    background: #f1f7fb;
    width: 100% !important;
    height: 56px;
    margin-right: 0% !important;
    bottom: -5% !important;
    position: absolute;
    z-index: 15;
    padding-top: 7px;
    padding-bottom: 6px;
    font-size: 12px;
}
#pager li{
    float: right;
    margin-right: 33px;

    padding: 9px;
    border-radius: 5px;


}


#pager li a span{
    color: #000 !important;
}
#pager .active{

    background: #ef5661 !important;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px #eee;
    color: #fff !important;


}
#pager{
    background: #f1f7fb;
    width: 100% !important;
    height: 56px;
    margin-right: 0% !important;
    bottom: -5% !important;
}

.carousel-price{
    text-align: right;
    padding-top: 86px;
}
.carousel-price span{
    color: #7d7f7f;
    font-size: 17px;
    text-decoration-line: line-through;
}

.carousel-price h4{

    color: #ef5661;
    margin-top: 16px;
}


.carousel-price p{
    float: left;
    left: 32%;
    position: absolute;
    margin-top: -35px;
    background: #ef5661;
    padding: 7px;
    border-radius: 20px;
    color: #fff;
}


.carousel-title{
    text-align: right;
    margin-top: 30px;
}

.carousel-title1{
    text-align: right;
    margin-top: 30px;
}

.atrr{

    text-align: right;
    margin-top: 15px;
    padding-right: 24px;
    right: 38%;
    position: absolute;
}

.atrr  ul li{

    list-style: unset !important;

}

.caroufredsel_wrapper{

    left: 0% !important;
    width: 100% !important;
    overflow: visible !important;
}

#next{

    width: 80px;
    height: 80px;
    top: 81%;
    position: absolute;
    background-color: hsla(0,0%,100%,.7);
    z-index: 999;
    border-radius: 100%;
    right: -4%;
}

#next span{

    font-size: 35px !important;
    color: #000;
    padding-right: 35px;
}


#prev span{

    font-size: 35px !important;
    color: #000;
    padding-left: 35px;
}

#prev{

    width: 80px;
    height: 80px;
    top: 81%;
    position: absolute;
    background-color: hsla(0,0%,100%,.7);
    z-index: 999;
    border-radius: 100%;
    left: -4%;
}

/**********************/


.disabled-right{
    position: relative;
}


.disabled-right img{

    height: 325px;
    width: 279px;
    margin-top: 16px;
    border-radius: 5px;
}

.disabled-right a{
    width: 282px;

    border-radius: 5px;
    background-color: #00bfd6;
    position: absolute;
    color: #fff !important;

    right: -1%;
    margin-left: 16%;
    padding: 18px;
    text-align: center;
    top: 372px;
    font-size: 12px;
    overflow: hidden;
}


.disabled-right a span i::after {
    background-image: url("../img/left-arrow.png");
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%) rotateY(180deg);
    color: #fff;
    font-size: 20px;

    line-height: 1.1;
    font-weight: 700;
}


.disabled-right a span i::before{
    background-image: url("../img/left-arrow.png");
    height: 90px;
    width: 90px;
    right: -40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    opacity: .21;
    border-radius: 100%;
}
.search-bottom {

    display: none;
}

@media only screen and (max-width: 1000px) {

    #list_carousel3 .caroufredsel_wrapper{

        height: 220px !important;
    }
    #list_carousel3 ul li .text{

        font-size: 13px;
    }

    #list_carousel3 ul li a .price{

        font-size: 13px;
        color: red;
    }
    #list_carousel3 ul li{
        width: 120px !important;
        height: 220px !important;
        background: #ffffff;
        border-radius:4px;
    }

    #foo4{
        height: 220px;
    }




    .disabled-right{
        display: none;
    }
    #card{
        display: none;
    }

    #card2 #ul{
        display: none;
    }


    .search-bottom {

        display: block;

        margin-top: 84px;

        margin-right: 37px;

        border-top: 1px solid;

        border-top-color: currentcolor;

        padding-top: 8px;

        margin-right: 11px;

        border-top-color: #afafaf;

        border-bottom: 1px solid #afafaf;

        padding-bottom: 5px;
    }

    .search-bottom .search{
        border: 1px solid #1b1e21;
        font-size: 10px;
        border-radius: 8px;
        text-align: right;
        height: 31px;
        width: 77%;
        display: block;
        text-indent: 43px;

    }
    nav{

        display: none;
    }

    .header-shop{

        display: none;

    }
    .c-header-dropdown{

        display: none;
    }
    header{

        height: 148px;
    }


    .header-div{

        display: none;

    }

    .c-header-search{

        display: none;
    }

    .c-header_row{
        float: left;
        width: 176px;
        position: absolute;
        left: 4%;
    }

    .navigation{
        float: right;
        z-index: 999;
        position: absolute;
        top: 15px;
        right: 6%;
        display: block;
    }


    /************menu**********/


    .sidenav{

        display: none;
        float: right;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 252px;
        right: 0%;
        background: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        box-shadow: 2px 2px 1px 1px #eeeeee;
        z-index: 99999;


    }




    .sidenav i{

        color: #fff;
        font-size: 17px;
        float:left;
        padding-top: 17px;
        padding-left: 17px;
    }


    .sidenav ul{
        text-align: right;
        padding-top: 17px;
        color: #fff;
    }
}





@media only screen and (min-width: 1000px) {
    .navigation{
        display: none;
    }
    #list_carousel3{
        display: none;
    }

    #card #ul{

        display:block;

    }

    #card2 .ul{
        display: none;
    }

}

#discount-image{
    position:absolute;
    margin-top: -4px;
    margin-right: -18px;
}

#discount-image .col-lg-3{

    float:right !important;
    margin-top: 11px;
}


#discount-image .col-lg-3 img{

    width: 100%;
    height: 100%;
}

#kala .card{
    height: 50px;

    margin-top: 304px;
    min-height: 351px;

}


#kala1 .card{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    min-height: 351px;

}
#kala2 .card{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    min-height: 351px;

}
#foo1  li img{
    width:79%;

}
#foo2  li a img{
    width: 79%;

}
#foo3  li img{
    width: 100%;

}
#foo4  li img{
    width: 100%;

}
#foo5  li img{
    width: 100%;

}
#foo6  li img{
    width: 100%;

}
#foo7  li img{
    width: 100%;

}
#foo8  li img{
    width: 100%;

}
#foo9  li img{
    width: 100%;

}
#foo10  li img{
    width: 100%;

}
#kala2{
    position: relative;width: 98%; margin-top:1%;right: 1%;
}


#kala3 .card{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    min-height: 351px;

}

#kala3{
    position: relative;width: 98%; margin-top: 21%;right: 1%;
}


#kala4 .card{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    min-height: 351px;

}

#kala4{
    position: relative;width: 98%; margin-top: 1%;right: 1%;
}


#brand .card{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    min-height: 243px;

}

#foo11 li img{
    height: 161px;
}

#foo11 li{
    width: 256px !important;
}

#brand{
    position: relative;width: 98%; margin-top: 1%;right: 1%;
}




.text{
    float: right;
    color: #4a5f73;
    font-size: 11px;
    margin-top: 18px;
    width: 100%;
}
.price{
    color:#fb3449;
}
#kala5 .card{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    min-height: 351px;

}


#kala5{
    position: relative;width: 98%; margin-top: 1%;right: 1%;
}



#kala6 .card{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    min-height: 351px;

}

#kala6{
    position: relative;width: 98%; margin-top: 1%;right: 1%;
}


.carousel-title1 .hr{
    width: 83%;
    border-bottom: 1px solid #555555;
    float: left;
    margin-left: 33px;
    margin-top: -8px;



}

.carousel-title1 h6{

    margin-top: -11px;
    margin-right: 38px;
    font-weight: bold;
    border-bottom: 1px solid #ef5661;

    width:10%;
    padding-bottom: 15px;
}




.carousel-title .hr{
    width: 64%;
    border-bottom: 1px solid red;
    float: left;
    margin-left: 33px;
    margin-top: -8px;
}

.carousel-title h5{

    margin-top: -11px;
    margin-right: 38px;
    font-weight: bold;
    border-bottom: 1px solid red;
    width: 26%;
    padding-bottom: 15px;
}




.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 15px;
    color: #999;
    text-align: center;
    width: 271px;

    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}









.list_carousel1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel1 li {
    font-size: 15px;
    color: #999;
    text-align: center;
    width: 250px;

    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.list_carousel1.responsive {
    width: auto;
    margin-left: 0;
}


#foo2 li a .price{

    color:#fb3449;
    position: absolute;
    width: 20%;
    top: 77%;

}

.caroufredsel_wrapper{
    height: 305px !important;
}

#foo2 li a .text{
    margin-top: 60px;
    font-size: 14px;
    line-height:2;

}

.timer{

    background: #ef5661;
    width: 100%;
    height: 1px;
}


#foo1 li .price{

    color:#fb3449;
    line-height: 4;
}

#foo1 li .text{

    line-height:2;

}
.clearfix {
    float: none;
    clear: both;
}



#prev3 {
    float: right;

    position: relative;

    z-index: 9999;

    font-size: 34px;

    color: #9a9a9a;

    margin-top: -209px;

    width: 70px;

    height: 70px;

    border-radius: 100%;

    background: #fff;

    opacity: 0.8;

    box-shadow: 2px 2px 1px 0px #eee;

    margin-right: -12px;

    overflow: visible;

    text-align: center;

    padding-top: 5px;
}
#next3{


    float: left;

    position: relative;

    z-index: 9999;

    font-size: 34px;

    color: #9a9a9a;

    margin-top: -70px;

    width: 70px;

    height: 70px;

    border-radius: 100%;

    background: #fff;

    opacity: 0.8;
    right: 94%;

    box-shadow: 2px 2px 1px 0px #eee;

    margin-left: -12px;

    overflow: visible;

    text-align: center;

    padding-top: 5px;




}




#prev2 {
    float: right;

    position: relative;

    z-index: 9999;

    font-size: 34px;

    color: #9a9a9a;

    margin-top: -209px;

    width: 70px;

    height: 70px;

    border-radius: 100%;

    background: #fff;

    opacity: 0.8;

    box-shadow: 2px 2px 1px 0px #eee;

    margin-right: -12px;

    overflow: visible;

    text-align: center;

    padding-top: 5px;
}
#next2 {


    float: left;

    position: relative;

    z-index: 9999;

    font-size: 34px;

    color: #9a9a9a;

    margin-top: -70px;

    width: 70px;

    height: 70px;

    border-radius: 100%;

    background: #fff;

    opacity: 0.8;
    right: 94%;

    box-shadow: 2px 2px 1px 0px #eee;

    margin-left: -12px;

    overflow: visible;

    text-align: center;

    padding-top: 5px;




}





.dark{

    background: #000000;
    opacity: .7;
    height: 2500px;
    width: 100%;
    position: absolute;

    top: 0;
    display: none;
}





#foo2 li{
    font-size: 15px;

    color: #999;

    text-align: center;

    width: 256px;

    padding: 0;

    margin: 6px;

    display: block;

    float: left;

    height: 296px;
}



.list_carousel ul li:hover{
    box-shadow: 1px 1px 1px 2px #e0e0e033;
    cursor: pointer;
}

/**********footer***********/
footer{

    margin-top: 10%;
    border-top: 1px solid #ddd;

}
.footer-top{

    background: #eceff1;
    min-height: 410px;
    width: 100%;
}
.footer-bottom{
    background-color: #d7dee0;
    width: 100%;
    height: 300px;
    color: #515151;
}

.footer_item{
    height: 129px ;
    border-bottom: 1px solid #d3d3d3;
}

.footer_item ul li{
    width: 17%;
    height: 55px;
    float:right;
}
.footer_item ul li span{
    position: absolute;
    float: right;margin-right: -64px;font-size: 12px;
    margin-top: 102px;
}

.footer-content ul li{
    float: right;

    text-align: right;

    font-size: 12px;
}


.footer-content{


    margin-top: 15px;
}

.footer-content ul li a{
    display: block;
    color: #838383;
    line-height: 2.571;
    font-size: 11px;
}

.digi_insta{
    width: 134px;

    height: 39px;
    text-align: center;
    border-radius: 9px;
    background-image: linear-gradient(266deg,#4e60d3,#913baf 35%,#d52d88 68%,#f26d4f);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.11);
    color: #fff !important;
    font-weight: 700;
    display: inline-block;
    font-size: 12px;
    font-size: .857rem;
    line-height: 45px;
}

.footer__description-content aside {
    width: 60%;
    text-align: right;
    font-size: 12px;
    line-height: 2;
    color: #6d6d6d;
    margin-right: 35px;

    padding-top: 21px;
}

.footer__description-content aside ul li{
    float: right;

    margin-right: 10px;
}

.footer-left ul li{
    float: left;
    margin-right: 10px;
}

.footer-left ul li img{
    width: 118px;
}

.footer-left{
    float: left;

    margin-top: -100px;

    margin-left: 64px;
}

.footer-bottom1 ul li{
    float:right;
    width: 20%;
}

.footer-bottom1 ul li img{
    width: 131px;
    height: 40px;
}

.footer-bottom1{
    margin-top: 45px;

    border-bottom: 1px solid #9b9696;

    height: 58px;
}


#ListProduct ul li{
    border: 1px solid #ececec;
    height: 496px;

}


#ListProduct ul li .text{
    float: right;
    color: #4a5f73;
    font-size: 13px;
    margin-top: 26px;
    width: 100%;
    text-align: right;
    height: 34px;
}





#ListProduct ul li a .price {

    color: #000000;
    text-align: left;
    float: right;
    margin-top: 76px;
    width: 100%;
    padding-bottom: 15px;
    font-size: 19px;
    font-weight: bold;
}
.category{
    font-size: 12px;
    color: #000;
}
.categorys{
    padding: 0;
    font-size: 13px;
}
.categorys li{
    text-align: right;
}
.categorys li i{
    font-size:14px;
}
.categorys li a{
    margin-right: 5px;
}

#ListProduct ul li:hover {
    box-shadow: 3px 3px 3px  3px #ddd;
    z-index: 999;
}

.brandsearch{
    width: 100%;



    position: absolute;

    border-top: 1px solid #e0d9d9;

    margin-top: 20px;

    right: 0px;

}

.brandsearch ul li{
    display: inline-flex;
    position: relative;
    float: right;
}
.brandsearch ul{
    margin-top: 13px;
    margin-right: -13px;
}

.shopheader li{
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
    float: right;
    margin-right: 24px;
    cursor: pointer;
}

div.ui-slider{
    height: 3px !important;
    background: #817d7d;
}
.ui-slider .ui-slider-range{
    background: #00bfd6;
}

.ui-slider-horizontal .ui-slider-handle{
    top: -9px !important;
    border-radius: 50%;
}
.ui-widget.ui-widget-content{
    margin-top: -23px;
    width: 87%;
    right: 7%;
}

.max-price{
    border: 1px solid #ddd;
    width: 121px;
    float: right;
    height: 100px;
    text-align: center;
    padding-top: 33px;
    margin-top: 11px;
}
.min-price{
    border: 1px solid #ddd;
    width: 114px;
    float: left;
    height: 100px;
    text-align: center;
    padding-top: 33px;
    margin-top: 11px;
    border-right: none;
}


.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
    margin-top: 14px;
    margin-right: 20px;
}
.switch input{
    height: 0;
    width: 0;
    opacity: 0;
}

.switch .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    transition: 2s;
    -webkit-transition: 2s;
}

.switch .slider:before{
    position: absolute;
    content:"";
    width:18px;
    height: 18px;
    left: 4px;
    bottom: 4px;
    margin-top: 10px;
    background-color: #fff;
    transition: 2s;
    -webkit-transition: 2s;

}

.switch input:checked + .slider{
    background-color: #2196f3;
}

.switch input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch .round{
    border-radius: 34px;
}
.switch .round:before{
    border-radius: 50%;
}
#attr0{
    top: 71%;position: absolute;max-width: 19.2%;
}
#attr1{
    top: 92%;position: absolute;max-width: 19.2%;
}
#attr2{

}
#attr3{
    top: 70%;
    position: absolute;
    max-width: 19.2%;
}
#attr4{

}
.tab-content .show{
    border: 0px !important;
}
.attributeitem li{
    text-align: right;
    margin-top: 12px;
}
.attributeitem li input{
    margin-left: 15px;
}
.attributeitem {
    position: absolute;
    right: 0;
}
.active{
    border-bottom:0px !important;
    background: #fff;
    color: #000 !important;
}
#page{
    border-radius: 100%;
    margin-right: 10px;

}
.page-link{
    border: none !important;
    margin-right: 20px;

}
.showimage{
    width: 80px;
    height: 80px;
}
#warranty::before{
    content: "\E04B";
    font-size: 23px;
    color: #d5d5d5;
    position: absolute;
    right: 2px;
    top: -2px;
}

.select_color1{
    border: 1px solid #8fbcc7;
    padding: 6px;
    padding-right: 6px;
    border-radius: 5px;
    padding-right: 38px;
}
.select_color2{
    border: 1px solid #ddd;
    padding: 6px;
    padding-right: 6px;
    border-radius: 5px;
    padding-right: 38px;
    margin-right: 10px;
}
#product_w span{
    margin-left: 5px;
}

#product_w{
    display: flex;
    margin-top: 30px;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    width: 70%;
}

#product_w img{
    width: 35px;
    height: 27px;
}
#product_color{
    margin-top:50px;
    font-size: 13px;
}










#image{
    margin-top: 97px;
}
.product-image li{
    float: right;
}
#nav{
    position: absolute;
    top: 96%;
    right: 36%;
}



/************product_show**********/
#product_send{
    margin-top: 22px;
}

#product__delivery{
    margin-top:18px;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    width: 70%;
}
#product_price{
    color: red;
    margin-top: 15px;
}
#product_price span{
    font-size: 2.214rem;
    line-height: 1.419;
    letter-spacing: 1.1px;
}
.zoomLens{
    width: 154px !important;
    height: 172px !important;
    border:2.5px solid rgb(239, 86, 97) !important;
    background-color: transparent !important;
}

.zoomWindow{
    position: absolute;
    right: 100%;
    width: 523px !important;
    height: 583px !important;
    border: 1px solid rgb(136, 136, 136) !important;
}

.button_card{

    padding: 12px 17px 16px 18px;
    border-radius: 8px;
    background-color: #00bfd6;
    border: 1px solid #41a7b4;
    color: #fff;
    letter-spacing: -.7px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}

.button_cards{
    padding: 12px 17px 16px 18px;
    border-radius: 8px;
    padding: 13px 82px 16px 18px;
    border-radius: 8px;
    background-color: #7a7a7a;
    border: 1px solid #7a7a7a;
    color: #fff;
    letter-spacing: -.7px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    color: #fff;
    letter-spacing: -.7px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}
.cart_image img{
    width: 50px;
    height:50px ;
}
.cart_count{
    position: absolute;
    right: 36%;
    margin-top: 39px;
}



.cart_count1{
    position: absolute;
    margin-top: 52px !important;
    left: 32% !important;
}
.cart_price{
    position: absolute;
    margin-top: 52px !important;
    left:10% !important;
    font-size: 19px;
}
.header-dropdown-login span{
    color:red;
    font-size: 18px;
}
.cart_left_price{
    float: right;
    margin-top: 18px;
    font-size: 15px;
}

.cart_left_price1{
    position: absolute;
    top: 130px;
    text-align: center;
    right: 32%;
    font-size: 22px;
}

.cart_left_price2{
    position: absolute;
    top: 172px;
    text-align: center;
    right: 35%;
    font-size: 22px;
    color: red;
}
.add_card_left{
    position: absolute;
    top: 251px;
    text-align: center;
    right: 8%;

}
.cart_left_img{
    width: 206px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 15px;
}
.cart_left_text{
    position: absolute;
    top: 281px;
    text-align: right;
    right: 8%;
    color: #adadad;
}

.cart_left_address{
    float: right;
    margin-top: 60px;
    font-size: 15px;
}
.button_card .icon_card{
    width: 96px;
    height: 87px;
    background-color: #fff;
    opacity: 0.3;
    position: absolute;
    border-radius: 50%;
    right: -34px;
    top: -14px;
}
.button_cards .icon_cards{
    width: 96px;
    height: 87px;
    background-color: #ddd;
    opacity: 0.3;
    position: absolute;
    border-radius: 50%;
    right: -34px;
    top: -14px;
}
.card_text{
    padding-right: 37px;
    font-size: 18px;
    color: #fff;
}
.icon_card:hover{
    width: 100% !important;
    right: 0px !important;
    border-radius: 0px !important;
    transition: all .4s ease-in-out;
}

.icon_cards:hover{
    width: 100% !important;
    right: 0px !important;
    border-radius: 0px !important;
    transition: all .4s ease-in-out;
}
#attr_p{
    float: left;
    position: absolute;
    left: 146px;
    top: 40%;
}
#attr_p span{
    display: inline-block;
    margin-right: 9px;
}
#attr_p1 li{

}


#header-cart-dropdown{
    position: absolute;
    top: calc(82% + 10px);
    left: 60px;
    width: 323px;
    background-color: #fff;
    box-shadow: 0 2px 9px 0 #d3d9df;

    z-index: 123;
    border: 1px solid #000 ;
}

#header-cart-dropdown .before{

    border-color: transparent transparent #cbc6c6 !important;
}

#header_shoping{

    width: 100%;
    height: 125px;
    background: #fff;
    box-shadow: 1px 2px 1px #eee;
    position: absolute;
    top: 0;

}

/*********checkout-steps***************/

.checkout-steps{
    position: absolute;
    top: 6.5%;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    z-index: 10001;
    display: flex;
    list-style: none;
    padding: 0;
    color: #a0a0a0;
    -webkit-box-pack:justify;
    justify-content: space-between;
    width: 783px;
    font-size: .929rem;
    line-height: 1.692;
    background: #d1d1d1;
    height: 4px;
}
.step1-item{
    position: relative;
    text-align: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    z-index: 1;
    background-color: #00bfd6;
}
.step1-item{
    position: absolute;
    top: -10px;
    left: 100%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.step2-item{
    position: absolute;
    text-align: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    z-index: 1;
    background-color: #bababa;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.step3-item{
    position: absolute;
    text-align: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    z-index: 1;
    background-color: #bababa;
    top: -10px;
    left: 0%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.text_link1{
    margin-top: -38px;
    margin-right:-34px;
    color: #00bfd6;
}
.text_link2{
    margin-top: -38px;
    margin-right: 23px;
    color: #adadad;
}
.text_link3{
    margin-top: -38px;
    margin-right: 23px;
    color: #adadad;
    margin-left: -60px;
}
.address{
    text-align: right;
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 35px;
}
.address li{
    margin-top: 20px;
}

.product_step1{
    margin-top: 24px;width: 152px;height: 168px;
}
.product_step1:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .11);
    z-index: 11;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
.send_address{
    text-align: right;
    margin-right: 25px;
}

.nav-tabs li{
    width: 183px;
    height: 58px;
    border: 1px solid #c4c4c4;
}
.nav-tabs li a{
    position: absolute;

    width: 183px;

    height: 58px;

    padding: 10px;

    text-align: center;
}
.nav-tabs{
    border-bottom:0px !important;
    margin-right: -40px;
    margin-left: 20px;
}

.tab-content{
    border: 1px solid #bfbfbf;
    margin-left: 20px;
    border-top-color: rgb(191, 191, 191);
    border-top-style: solid;
    border-top-width: 1px;

    border-top: 0px !important;
    margin-bottom: 22px;
}
.time{
    width: 100px;
    margin-right: 10px;
}
.time1{
    padding-top: 19px;

    position: absolute;

    margin-bottom: 0px;
}
#home,#menu1,#menu2,#menu3,#menu4{
    height: 48px;

    margin-bottom: 20px;
}
#zarinpal img{
    width: 106px;
    height: 96px;
}
#zarinpal{
    float: right;
    margin-top: 21px;
}

#panel-title{
    height: 110px;

    border: 1px solid #ddd;

    margin-left: 30px;

    margin-top: 30px;

    margin-right: 30px;

    border-radius: 6px;

    background: #FCFCFC;
}

#nav-tabs{
    border: 1px solid #c4c4c4;
    direction: rtl;
    text-align: right;
}

.show{
    border-top: 4px solid #5facb8;
    margin-top: -1px;
}
.col-lg-3{
    float:right !important;
}
#icon-plus{
    color: rgb(0, 0, 0);
    position: absolute;
    right: 291px;
    margin-top: 46px;
    z-index: 99;
    border: 1px solid;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}
#icon-plus1{
    color: rgb(0, 0, 0);
    position: absolute;
    right: 637px;
    margin-top: 46px;
    z-index: 99;
    border: 1px solid;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}
.show{
    display: block !important;
}

.alert-dismissible .close{
    left: 0 !important;
    position: absolute !important;
}

.comment{
    text-align: right;
    direction: rtl;
    padding: 35px;
    min-height: 700px;
}
.progress{
    height: 5px;
    margin-top: 12px;
}
.progress-bar{
    height: 5px;
    background-color: #00bfd6;
}

.comment-rate{
    margin: 75px 34px 0px 0px;
}

.comments__summary_note {
    position: absolute;
    left: -23px;
    top: 0;
    width: 47%;

}
.comments__summary_note p {
    text-align: right;
    direction: rtl;
    line-height: 49px;
    margin-top: 37px;
}
.comment_product_list{
    margin-top: 113px;
    background: #fafafa;
    min-height: 620px;


}
.comment_purchased{
    font-size: .929rem;
    line-height: 2.23;
    background-color: #fdfff8;
    border: 1px solid #e2f0d5;
    border-radius: 3px;
    color: rgba(36,90,29,.98);
    padding: 7px 40px 7px 12px;
    margin-top: 52px;
}
.comment_header_list{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.comment_header_list p{
    font-size: 1rem;
    line-height: 1.571;
    display: block;
    color: #adadad;
    margin-top: 5px;
    font-weight: 400;
}
.comment_content_list{
    margin-top: 42px;
}
.comment_like{
    text-align: left;
    margin-top: 104px;
    margin-left: 50px;
}
.btn-like{
    padding: 7px 25px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.btn-dislike{
    padding: 7px 25px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}


.profile_box_tabs ul li{
    float: right;

}


.profile_box_tabs{
    border: 1px solid #ddd;

    height: 51px;
}

.profile_box_tabs ul{

}

.profile_title{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}
.sidebar_profile{
    margin-top: 30px;
}
.profile_list ul li{
    text-align: right;
    cursor: pointer;
    line-height: 57px;
    padding-right: 30px;
}

.profile_list ul li:hover{
    background-color: #f6ffff;
    color: #009ec9;
}

.profile_list ul li span i{
    color: #bebdbd;
    font-size: 19px;
}

.interest{
    float: right;
}

.interest i{
    font-size: 27px;
    cursor: pointer;

}
.like{
    color: #ff241c !important;
}
.dislike{
    color: #9a9999 !important;
}

.interest_title h5{
    position: absolute;
    right: 26%;
    top: 3%;
    width: 250px;
    display: flow-root;
}
.card_image{
    float: right;
    margin-right: 16px;
}
.card-price{
    position: absolute;
    bottom: 24px;
    right: 32%;
}
.card-price  p{
    color: #ff5a3d;
    font-weight: bold;
    font-size: 17px;
}

.card_close{
    position: absolute;
    top: 52%;
    right: 14px;
    background: #f7f7f7;
    padding: 5px 9px;
    border-radius: 100%;
    cursor: pointer;
    border: none;

}

.card_close i{
    color: #ddd;
}
.card_url{
    position: absolute;
    left: 37px;
    bottom: 37px;
}
.card_url a{
    border-radius: 8px;
    background-color: #00bfd6;
    border: 1px solid #41a7b4;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    max-width: 201px;
    text-align: center;
    margin-top: 10px;
}
.card_comment_close{
    position: absolute;
    left: 37px;
    bottom: 37px;
    background: #d6d6d6;
    padding: 7px 21px;
    color: #000;
    border: 0px !important;
    border-radius: 5px;
    cursor: pointer;
}

.card_comment_close a{


}

.profile_address{
    height: 272px;
    width: 100%;
    border: 4px dashed #a9a7a7;

    cursor: pointer;
}
.address_add_profile img{
    display: flex;
    position: absolute;
    right: 35%;
    top:26%;
}

.address_add_profile p{
    display: flex;
    position: absolute;
    right: 36%;
    top: 72%;
    font-size: 17px;
    color: #939191;
    font-weight: bold;
}
.modal-dialog{
    margin: 104px 250px;
}
#address_input{
    height: 45px;
}

#address_label{
    letter-spacing: -.3px;
    margin-bottom: 10px;
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 1.67;
    color: #858585;
    white-space: nowrap;
}
#address_title p{
    text-align: right;
    margin-right: 46px;
    margin-top: 20px;
}

.address_footer ul{
    text-align: right;
    margin-top: 20px;
    width: 56%;
    float: right;
}

.address_footer ul li{
    margin-top: 10px;
}
.address_footer{
    margin-top: 84px;
    border-top: 1px solid #ddd;
}
.address_footer ul li i{
    font-size: 21px;
}
.address_footer ul li  span{
    margin-right: 27px;
}

#border{
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg,#00bfd6 48px,#ff7e7e 0) repeat-x;
    background-size: auto;
    background-size: 96px 3px;
}
#date select{
    width: 23%;float: left;
    margin-right:29px;
    margin-top: -31px;
}


.form-control{
    height: 43px;
}





.checkbox{
    float: right;
    margin-top: 32px;
    text-align: right;
    width: 100%;

}




.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: right;
    margin-right: 5.5em;
}

.checkbox .cr .cr-icon {
    position: relative;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
    opacity: .5;
}
.c-form-legal__item
{
    height: 1px;
    background: #ddd;
}

.diviter_form{
    float: right;
    margin-top: 32px;
    height: 1px;
    background: #ddd;
    text-align: right;
    width: 100%;
}
#add_form{
    float: left;
    margin-top: 32px;
    text-align: right;
    position: relative;
    width: 100%;
}


/********************switch*****************************/



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.error_input{
    border: 1px solid #dc3561;
}